################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/SQLQuery2.sql
MajsterFinale/UploadImage/3b4cad4f-6bf0-42ea-b9c0-f5128a158385apps.14591.9a19b1cb-7ffc-4b32-bf97-25ef75ec69a3.753de052-0f07-4e5e-a20d-e4d5688136af.e2247862-7caa-44e8-8915-ca934ab9b663.png
MajsterFinale/UploadImage/4f9b40a5-e96a-483b-8093-9f183e4869a4sesja_1x1_5B.jpg
MajsterFinale/UploadImage/a07d80b1-7a7d-4e9f-8df6-2d448779cf09350x150x3.png
MajsterFinale/UploadImage/e8b19529-d481-4abc-8128-8a33b12900b1350x150x2.png
MajsterFinale/obj/Release/MajsterFinale.csprojAssemblyReference.cache
MajsterFinale/obj/Release/MajsterFinale.dll
MajsterFinale/obj/Release/MajsterFinale.pdb
MajsterFinale/obj/Release/MajsterFinale.pdb
MajsterFinale/obj/Release/MajsterFinale.dll
MajsterFinale/obj/Release/MajsterFinale.csprojAssemblyReference.cache
