@model MajsterFinale.Models.USERS
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container loginreg">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card mb-3 form-signin">
                <h1 class="h2 mt-2">Aktywacja konta</h1>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-lg btn-custom" value="<3" onclick="Verified()" />
                </div>
                <div class="form-group">
                    <div class="" id="after" style="display:none">
                        <strong><span class="glyphicon glyphicon-ok"></span> Twoje konto zostało aktywowane</strong>
                        <a type="btn btn-custom" href="@Url.Action("Logowanie", "home", null)">Zaloguj się</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script>
    function Verified() {
         $.ajax({
            type: "post",
            url: "/Home/AccountConfirm",
            data: { 'uID': '@ViewBag.UID' },
            success: function (msg) {
                $("#previous").hide();
                $("#after").show();
                alert(msg);
            }
        })
    }
</script>
