@{
    ViewBag.Title = "Home Page";
    ViewData["Title"] = "Home Page";

}
<html>
<body>
    <div class="layout">

        <div class="menu">

            <div class="menu-wrapper">
                <div class="menubuttonlogo ghost">LOGO</div>
                <div class="search">
                    <form class="example" action="action_page.php">
                        <input type="text" placeholder="Znajdź nasze ogłoszenia..." name="search">
                        <button type="submit">Szukaj</button>
                    </form>
                </div>
                <div class="menubuttonadd ghost">Dodaj Ogłoszenie</div>
                <div class="menubuttonlogin ghost">
                    <input type="submit" onclick="location.href='@Url.Action("message", "Home")'" value="Wiadomosci" />
                </div>
                <div class="menubuttonlogin ghost">
                    <a href=""></a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="main-wrapper">
                <div class="categories-wrapper">
                    <div class="text-title categoriestitle"> Kategorie</div>
                    <div class="category"></div>
                    <div class="category"></div>
                    <div class="category"></div>
                    <div class="category"></div>
                    <div class="category"></div>
                    <div class="category"></div>
                    <div class="category"></div>

                </div>
                <div class="recentads-wrapper">
                    <div class="adsmenu">
                        <div> 1 z 2 ... </div>
                        <div> Sortuj: </div>
                    </div>
                    <div class="text-title recentadstitle">Ostatnio dodane ogłoszenia</div>
                    <div class="recentad"></div>
                    <div class="recentad"></div>
                    <div class="recentad"></div>
                    <div class="recentad"></div>
                    <div class="recentad"></div>
                    <div class="recentad"></div>
                </div>
            </div>
        </div>




        <div class="footer">
            <div class="footer-wrapper">
                <div class="footer_col1">
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                </div>
                <div class="footer_col2">
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                </div>
                <div class="footer_col3">
                    <p>INSTAGRAM</p>
                    <p>FACEBOOK</p>
                    <p>TWITTER</p>
                </div>
            </div>
        </div>


    </div>
</body>
</html> 