@{
    ViewData["Title"] = "Home Page";

}


<html>
<body>
    <div class="layout">

        <div class="menu">

            <div class="menu-wrapper">
                <div class="menubuttonlogo ghost">LOGO</div>
                <div class="search">
                    <form class="example" action="action_page.php">
                        <input type="text" placeholder="Znajdź nasze ogłoszenia..." name="search">
                        <button type="submit">Szukaj</button>
                    </form>
                </div>
                <div class="menubuttonadd ghost">Dodaj Ogłoszenie</div>
                <div class="menubuttonlogin ghost">
                    <input type="submit" onclick="location.href='@Url.Action("message", "Home")'" value="Wiadomosci" />
                </div>
                <div class="menubuttonlogin ghost">
                    <a href=""></a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="main-wrapper">
            <div class="message">
                <div class="message-menu">
                    <div class="msg-box-title"><h1>Wiadomości</h1></div>
                    <div class="msg-received">
                        Otrzymane
                    </div>
                    <div class="msg-sent">
                        Wysłane
                    </div>
                    <div class="msg-archive">
                        Archiwum
                    </div>
                </div>
                <div class="message-text">
                    <div class="msg-box-info">
                        <div class="msg-box-user"> USER </div>
                        <div class="msg-box-ad"> OGLOSZENIE </div>
                        <div class="msg-box-ad-date"> DATA </div>
                    </div>
                    <div class="msg" id="ID">
                        <div class="msg-box-user-received" id="IDnumber"> PrzykładowyUser </div>
                        <div class="msg-box-ad-received" id="IDnumber"> Tutaj pojawi się treść wiadomości </div>
                        <div class="msg-box-ad-date-received"> xxxx.xx.xx </div>
                    </div>
                    <div class="msg" id="ID">
                        <div class="msg-box-user-received" id="IDnumber"> PrzykładowyUser </div>
                        <div class="msg-box-ad-received" id="IDnumber"> Tutaj pojawi się treść wiadomości </div>
                        <div class="msg-box-ad-date-received"> xxxx.xx.xx </div>
                    </div>
                    <div class="msg" id="ID">
                        <div class="msg-box-user-received" id="IDnumber"> PrzykładowyUser </div>
                        <div class="msg-box-ad-received" id="IDnumber"> Tutaj pojawi się treść wiadomości </div>
                        <div class="msg-box-ad-date-received"> xxxx.xx.xx </div>
                    </div>
                </div>

            </div>

            </div>
        </div>




        <div class="footer">
            <div class="footer-wrapper">
                <div class="footer_col1">
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                </div>
                <div class="footer_col2">
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                    <p>Przykładowy link</p>
                </div>
                <div class="footer_col3">
                    <p>INSTAGRAM</p>
                    <p>FACEBOOK</p>
                    <p>TWITTER</p>
                </div>
            </div>
        </div>


    </div>
</body>
</html>