
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PilaLokalnie</title>
</head>
<body>
    <div>
        <p>Tutaj będzie opis czym jest piła lokalnie</p>
    </div>
</body>
</html>
