
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Polityka prywatnośći</title>
</head>
<body>
    <div>
        <a>Tutaj będzie polityka prywatności</a>
    </div>
</body>
</html>

