
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Regulamin</title>
</head>
<body>
    <div>
        <a>Tutaj będzie regulamin</a>
    </div>
</body>
</html>
