@model MajsterFinale.Models.ActivationUserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AccountConfirm", "Home", FormMethod.Post))
{ 
<br />
<div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="alert alert-warning" id="previous">
            <h1 class="h2 mt-2">Aktywacja konta</h1><br />
                                                    <div class="form-group">
                                                        @Html.HiddenFor(a => a.uID)
                                                    </div>
            <input type="submit" class="btn btn-lg btn-custom btn-block" value="Aktywuj" onclick="Verified()" />
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
}
