@model MajsterFinale.Models.USERS
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
                <div class="alert alert-warning" id="previous">
                    <h1 class="h2 mt-2">Aktywacja konta</h1><br />
                    <input type="submit" class="btn btn-lg btn-custom btn-block" value="Aktywuj" onclick="Verified()" />
                </div>
                <div class="alert alert-success" id="after" style="display:none">
                    <h1 class="h2 mt-2">Gratulacje, teraz możesz się zalogować!</h1><br />
                    <a class="btn btn-lg btn-custom btn-block" href="@Url.Action("Logowanie", "Home", null)" role="button">Zaloguj się</a>
                </div>
        </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
    function Verified() {
         $.ajax({
            type: "post",
            url: "/Home/AccountConfirm",
            data: { 'uID': '@ViewBag.UID' },
            success: function (msg) {
                $("#previous").hide();
                $("#after").show();
                alert(msg);
            }
        })
    }
        </script>
