.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    background-color: White !important;
}

.sizeadv h1 {
    font-size: 20px;
}

.card-body a {
    color: black;
}

.imgpoz {
    width: 200px;
    height: 140px;
    background-color: whitesmoke;
    text-align: center;
}

.imgsize {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgtitle {
    float: left;
}

.imgbutton {
    float: right;
}

    .imgbutton i {
        margin-left: auto;
        margin-right: auto;
        display: inline-block !important;
    }
.imgdate {
    position: absolute;
    bottom: 0;
}

    .imgdate p {
        font-size: 12px;
        font-weight: 600;
    }
