body
{
  margin: 0;
  padding:0;
}

.navbarmar{
  margin-left: 10%;
  margin-right: 10%;
}
.grow { 
  transition: all .2s ease-in-out; 
  }
  
.grow:hover { 
  transform: scale(1.1); 
  }



  


  .carousel-inner{
    width:100%;
    max-height: 400px !important;
  }

  .steps{
    width:100%;
    text-align: center;
    margin-top: 2rem;
  }

  .steps h1{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .steps p{
    font-size: 1rem;
    font-weight: 400;
  }


  .icontex{
    color: white;
    margin-top: 14px;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.searchbar{
  width: 50%;
  margin: 50px auto;
}

.btn-custom{
    background-color:  #f3b136;
    color: white;
    font-weight: 600;
}
 
.dropdown:hover>.dropdown-menu {
    display: block;
  }

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    /*pointer-events: none;*/
    padding-top: 10px;
}

.nav-link  {
    color: white;
    padding-top:10px;
    }
.nav-link:hover {
    color: whitesmoke;
        }

        .yep{
            background-color: teal;
        }
        .cat-title{
            height: 100px;
            text-align: center;
            
        }

        .cat-title  h1{
            font-weight: 500;
            font-size: 32px;
            margin-top: 70px;
            font-weight: 700;
        }

        .newadded {
          text-align: center;
        }

       


        .newadded h1{
          font-weight: 500;
          font-size: 32px;
          margin-top: 70px;
          font-weight: 700;
          margin-bottom: 30px;
        }

       

        .cat-grid{
           
           height: 200px;
           align-items: center;
           border: 2px black;
           text-align: center;
           vertical-align: middle;
        }

        .underline {
            border-bottom: 4px solid #f3b136;
            font-size: 24px;
            display: inline-block;
        }
        
        .title {
            border-bottom: 2px solid #f3b136;
            margin-bottom: 10px;
        }

        .cat-grid a {
            color:black;
            text-decoration: none;
        }

        .hrefnodeco{
          color:black;
          text-decoration: none;
        }

        .cat-grid .Icongrid {
          color:grey;
          font-size: 2.5rem;
         
      }

      .cat-grid p {
        color:grey;
        font-size: 0.75rem;
        margin-top: 5px;
        font-weight: 300;
    }

        .cat-collapse {
          text-align: center;
          float: left;
        }
        
       .underCat a {
         color: black;
       }

       .underCat li {
         margin-top: 10px;
       }


















        .footer-clean {
            padding: 50px 0;
            background-color: #fff;
            color: #4b4c4d;
          }
          
          .footer-clean h3 {
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 16px;
          }
          
          .footer-clean ul {
            padding: 0;
            list-style: none;
            line-height: 1.6;
            font-size: 14px;
            margin-bottom: 0;
          }
          
          .footer-clean ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
          }
          
          .footer-clean ul a:hover {
            opacity: 1;
          }
          
          .footer-clean .item.social {
            text-align: right;
          }
          
          @media (max-width:767px) {
            .footer-clean .item {
              text-align: center;
              padding-bottom: 20px;
            }
          }
          
          @media (max-width: 768px) {
            .footer-clean .item.social {
              text-align: center;
            }
          }
          
          .footer-clean .item.social > a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin-left: 10px;
            margin-top: 22px;
            color: inherit;
            opacity: 0.75;
          }
          
          .footer-clean .item.social > a:hover {
            opacity: 0.9;
          }
          
          @media (max-width:991px) {
            .footer-clean .item.social > a {
              margin-top: 40px;
            }
          }
          
          @media (max-width:767px) {
            .footer-clean .item.social > a {
              margin-top: 10px;
            }
          }
          
          .footer-clean .copyright {
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 13px;
            opacity: 0.6;
          }
          
          