
.btn-custom {
    background-color: #f3b136;
    color: white;
    font-weight: 600;
}
    .btn-custom:hover {
        color: white !important;
        
    }

.btn-outline-custom {
    border-color: #f3b136;
    color: white !important;
    font-weight: 600;
}

i {
    margin-right: 1rem;
    font-size: 1.1em;
}

.nmk {
    height: 40px;
    background-color: #f3b136;
}

    .nmk p {
        color: white;
        font-weight: 600;
        margin-top: 8px;
    }


.icontex {
    color: white;
    margin-top: 14px;
}


.index_steps {
    text-align: center;
    background-color: white;
    margin-top: 1rem;
    padding-top: 1rem;
}

    .index_steps h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .index_steps p {
        font-size: 1rem;
        font-weight: 400;
    }


textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 0 0 2px;
    background-color: white;
}

.carousel-item img {
    object-fit: cover;
}

.btn-custommobile {
    font-weight: 400;
}

.navpanelcolor {
    color: black;
}

.navpanelcolor:hover {
     color: white;
     background-color: #0B3c5d;
}

@media (max-width: 816px) {
    .navpanel {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2rem;
    }
}

@media (min-width: 817px) {
    .navpanel {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5rem;
    }
}
.searchbartext {
    padding: 8px !important;
    background: whitesmoke;
    color: #333;
    border: none;
    font-size: 15px;
    outline: none;
    width: 75%;
}
.searchbardrop {
    width: 11rem;
}
.searchbarbox {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.backarrow {
    font-size: small;
}

.tab-content {
    color: white;
    background-color: white !important;
}

.list-item {
    background-color:white !important;
}

    .list-item a {
        font-weight: 400;
        text-decoration: none;
        color: black;
        line-height: 2em;
        font-size:16px;
    }
        .list-item a:hover {
            font-weight: 500;
        }

.nav-pills .nav-link {
    
    font-weight: 700;
}

.nav-pills .nav-link:hover {
    background-color: whitesmoke !important;
    color: black !important;
  
}
    .nav-pills .nav-link.active {
        background-color: #f3b136 !important;  
    }

.asize {
    line-height: 2em;
  
}