@media (max-width: 766px) {
    .panel_mo {
        width: 95%;
        margin-top: 0rem;
        overflow-x: hidden
    }

    .panel_top {
        color: white;
        background-color: #0B3c5d;
        margin-top: 1rem;
    }

    .panel_mid {
        margin-top: 0.1rem;
        background-color: white;
    }

        .panel_mid .nav a {
            color: black;
            font-weight: 400;
        }

        .panel_mid .nav-link:hover {
            color: white;
            background-color: #0B3c5d;
        }

        .panel_mid .active {
            color: white !important;
            background-color: #0B3c5d;
        }
    .panel_mid_size {
        min-height: 23rem !important;
    }
    .panel_ms {
        background-color: white;      

    }
    #displayPC{
        display:none;
    }
    #displayMob{
        display:block;
        margin-bottom:1rem;
    }
    #displayMob2 {
        display: none;
    }

}

@media (min-width: 767px) {

    .panel_mo {
        width: 90%;
        margin-top: 0.2rem;
    }

    .panel_top {
        color: white;
        background-color: #0B3c5d;
        margin-top:2rem;
    }

    .panel_mid {
        margin-top: 0.5rem;
        background-color: white;
  
    }

        .panel_mid .nav a {
            color: black;
            font-weight: 400;
           
        }

        .panel_mid .nav-link:hover {
            color: white;
            background-color: #0B3c5d;
        }

        .panel_mid .active {
            color: white !important;
            background-color: #0B3c5d;
        }

    .panel_mid_size {
        min-height: 22rem !important;
    }
    .panel_ms {
        background-color: white;
        height:5rem !important;
        margin-top:0.5rem;
    }
    #displayPC {
        display: block;
    }

    #displayMob {
        display: none;
    }

    #displayMob2 {
        display: block;
    }
}
@media (min-width: 1023px) {

    .panel_mo {
        width: 70%;
        margin-top: 0.2rem;
    }

    .panel_top {
        color: white;
        background-color: #0B3c5d;
        margin-top: 2rem;
    }

    .panel_mid {
        margin-top: 0.5rem;
        background-color: white;
    }

        .panel_mid .nav a {
            color: black;
            font-weight: 400;
        }

        .panel_mid .nav-link:hover {
            color: white;
            background-color: #0B3c5d;
        }

        .panel_mid .active {
            color: white !important;
            background-color: #0B3c5d;
        }

    .panel_mid_size {
        min-height: 22rem !important;
    }
    .panel_ms {
        background-color: white;
        margin-top: 0.5rem;
    }
    #displayMob2 {
        display: block;
    }

}
@media (min-width: 1440px) {

    .panel_mo {
        width: 70%;
        margin-top: 0.2rem;
    }

    .panel_top {
        color: white;
        background-color: #0B3c5d;
        margin-top: 2rem;
    }

    .panel_mid {
        margin-top: 0.5rem;
        background-color: white;
    }

        .panel_mid .nav a {
            color: black;
            font-weight: 400;
        }

        .panel_mid .nav-link:hover {
            color: white;
            background-color: #0B3c5d;
        }

        .panel_mid .active {
            color: white !important;
            background-color: #0B3c5d;
        }

    .panel_mid_size {
        min-height: 30rem !important;
    }
    .panel_ms {
        background-color: white;
        padding: 1rem;
        margin-top: 0.5rem;
    }

}
@media (min-width: 1660px) {

    .panel_mo {
        width: 65%;
    }

    .panel_top {
        color: white;
        background-color: #0B3c5d;
    }

    .panel_mid {
        background-color: white;
    }

        .panel_mid .nav a {
            color: black;
            font-weight: 400;
        }

        .panel_mid .nav-link:hover {
            color: white;
            background-color: #0B3c5d;
        }

        .panel_mid .active {
            color: white !important;
            background-color: #0B3c5d;
        }

    .panel_mid_size {
        min-height: 34rem !important;
    }
    .panel_ms {
        background-color: white;
        padding: 1rem;
        margin-top: 0.5rem;
    }

}
@media (min-width: 1919px) {

    .panel_mo {
        max-width: 70%;
    }

    .panel_top {
        color: white;
        background-color: #0B3c5d;
        margin-top: 2rem;
    }

    .panel_mid {
        background-color: white;
     
    }
        .panel_mid .nav a {
            color: black;
            font-weight: 400;
            font-size: 1rem;
        }

        .panel_mid .nav-link:hover {
            color: white;
            background-color: #0B3c5d;
        }

        .panel_mid .active {
            color: white !important;
            background-color: #0B3c5d;
        }

    .panel_mid_size {
        min-height: 37rem !important;
    }
    .panel_ms {
        background-color: white;
        padding: 1rem;
        margin-top: 0.5rem;
    }
 
}
@media (min-width: 2559px) {

    .panel_mo {
        width: 80%;
        margin-top: 1rem;
    }

    .panel_top {
        color: white;
        background-color: #0B3c5d;
        margin-top: 2rem;
    }

    .panel_mid {
        margin-top: 1rem;
        background-color: white;
    }

        .panel_mid .nav a {
            color: black;
            font-weight: 400;
            font-size: 1.5rem;
        }

        .panel_mid .nav-link:hover {
            color: white;
            background-color: #0B3c5d;
        }

        .panel_mid .active {
            color: white !important;
            background-color: #0B3c5d;
        }

    .panel_mid_size {
        min-height: 60rem !important;
    }
    .panel_ms {
        background-color: white;
        padding: 1rem;
        margin-top: 0.5rem;
    }

}

