
@media (max-width: 767px) {
    .ver {
        margin-top: 3rem;
        max-width: 80%;
    }
    .main_loginreg {
        width: 90%;
        margin-top: 0.3rem;
    }
    .mid_loginreg {
        background-color:white;
    }
    .mid_loginreg p{
        font-weight:600;
    }
    .mid_loginreg p1{
        font-weight:600;
        font-size:12px;
    }

}

@media (min-width: 768px) {
    .ver {
        margin-top: 3rem;
        max-width: 20rem;
    }
    .main_loginreg {
        width: 17%;
        margin-top: 1rem;
    }
    .mid_loginreg {
        background-color:white;
    }
    .mid_loginreg p{
        font-weight:600;
    }
    .mid_loginreg p1{
        font-weight:600;
        font-size:12px;
    }

}