.details_main {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
}

.details_img {
    background-color: white;
    max-height: 35rem;
    padding: 1rem;
}

    .details_img img {
        max-width: 100%;
        max-height: 100%;
    }

.details_info {
    background-color: white;
    padding: 1rem;
}

.details_desc {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
}

.details_msg {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
}
