* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

.btn-custom {
    background-color: #f3b136;
    color: white;
    font-weight: 600;
}

.btn-outline-custom {
    border-color: #f3b136;
    color: white !important;
    font-weight: 600;
}

i {
    margin-right: 1rem;
    font-size: 1.1em;
}

.categories i {
    margin-right: 0rem;
    font-size: 1.1em;
}

.nmk {
   
    height: 40px;
    background-color: #f3b136;
}

    .nmk p {
        color: white;
        font-weight: 600;
        margin-top: 8px;
    }


.container-fluid {
    padding: 0 !important;
}

.carousel-inner {
    width: 100%;
    max-height: 500px !important;
}

.icontex {
    color: white;
    margin-top: 14px;
}


.cat-title {
    height: 100px;
    text-align: center;
}

    .cat-title h1 {
        font-weight: 500;
        font-size: 32px;
        margin-top: 30px;
        font-weight: 700;
    }


.index_steps {
    text-align: center;
    background-color: white;
    margin-top: 1rem;
    padding-top: 1rem;
}

    .index_steps h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .index_steps p {
        font-size: 1rem;
        font-weight: 400;
    }

.grow {
    transition: all .2s ease-in-out;
}

    .grow:hover {
        transform: scale(1.1);
    }



textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 0 0 2px;
    background-color: white;
}

.carousel-item img {
    object-fit: cover;
}

.btn-custommobile {
    font-weight: 400;
}


.navpanelcolor {
    color: black;
}

    .navpanelcolor:hover {
        color: white;
        background-color: #0B3c5d;
    }

.active {
    color: white;
}


@media (max-width: 816px) {
    .navpanel {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2rem;
    }
}

@media (min-width: 817px) {
    .navpanel {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5rem;
    }
}


#catPC {
    display: block;
}

#catMob {
    display: none;
}

@media screen and (max-width: 768px) {

    #catPC {
        display: none;
    }

    #catMob {
        display: block;
    }
}

.index_index {
    margin-top: 1rem;
    width: 66%;
}

.index_searchbar {
    background-color: white;
    margin-bottom: 1rem;
}

.searchbartext {
    padding: 8px !important;
    background: whitesmoke;
    color: #333;
    border: none;
    font-size: 15px;
    outline: none;
    width: 75%;
}

.searchbardrop {
    width: 11rem;
}

.searchbarbox {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.index_cat {
    background-color: white;
}

    .index_cat a {
        color: black;
        font-weight: 400;
        line-height: 1.5rem;
        ;
    }


        .index_cat a:hover {
            color: grey;
            font-weight: 600;
            text-decoration: none
        }

.index_image {
    background-color: white;
    padding: 1rem;
}

.index_newadded {
    height: 20rem;
    background-color: white;
    margin-top: 1rem;
}


.cat_main {
    margin-top: 1rem;
    width: 70%;
}

.cat_side {
    background-color: white;
    max-height: 24rem !important;
}

    .cat_side h1 {
        font-size: 28px;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .cat_side a {
        color: black;
        text-decoration: none;
    }

        .cat_side a:hover {
            color: grey;
            text-decoration: none;
        }

    .cat_side .active {
        font-weight: 700;
        color: black;
    }

.cat_adv {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.backarrow {
    font-size: small;
}
