body {
    background-image: url('../IMAGES/background2.svg');
    background-size: contain;
    min-height: 100%;
}
.name input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

    .name input[type="text"]:focus,
    select.form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.test {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0.4em;
    padding-right: 0.4em;
}


.advsize {
   margin-top:5rem;
 
}

.container h3{
    font-size: 1.5rem;
}
