
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
  }
  ul li{
    display: inline;
  }

  a.custom-card,
  a.custom-card:hover {
  color: inherit;
}
 
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 6em;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #384046;
  }

  #header .logo h1 a, #header .logo h1 a:hover {
    color: #384046;
    text-decoration: none;
  }
 
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: black;
    padding: 12px 15px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
 
  
  
  
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #384046;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #384046;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: black;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(33, 38, 42, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # bgtitle 
  --------------------------------------------------------------*/
  #bgtitle {
    width: 100%;
    height: 70vh;
    background-color:black;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
  }
  
  #bgtitle h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #bgtitle h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  #bgtitle .btn-get-started {
    
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: grey;
    text-transform: uppercase;
  }
  
  #bgtitle .btn-get-started:hover {
    background: lightgray;
  }
  
  @media (max-width: 992px) {
    #bgtitle {
      height: calc(100vh - 70px);
    }
  }
  
  @media (max-width: 768px) {
    #bgtitle h1 {
      font-size: 30px;
      line-height: 36px;
    }
    #bgtitle h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  /*--------------------------------------------------------------
  # Section
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #f7fbfe;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: black;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # 3 kroki
  --------------------------------------------------------------*/
  
  .kroki .icon-box {
    text-align: center;
    padding: 20px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }
  
  .kroki .icon-box h4 a {
    color: #384046;
    transition: ease-in-out 0.3s;
  }
  
  .kroki .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
 
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    color: #444444;
    font-size: 14px;
    background: #f7fbfe;
  }


 /*--------------------------------------------------------------
  # Register 
  --------------------------------------------------------------*/
.register button 
{
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }


.register h1
{
  text-align: center;
  padding-bottom: 1em;
}
  

.register div 
{
  padding-top: 8em; 
  width: 50vh;
} 
 

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.acc{
  padding-top: 10em;
}

#inf
{
  width: 600px;
}
.title h1{
  margin-left: 12px;
}

.nav-menuacc, .nav-menuacc * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menuacc > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menuacc a {
  display: block;
  position: relative;
  color: black;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}


.topnav a.active {
  border-bottom: 3px solid black;
}

a:link {
  text-decoration: none;
}