@model MajsterFinale.Models.PanelMessageModel

@{
    int length = Model.UserMessages.Count;
    int[,] msglist = new int[4, length];
    bool save = true;
    for (int  j= 0; j < Model.UserMessages.Count; j++)
    {
        save = true;

        for (int x = 0; x < j; x++)
        {
            if (msglist[0, x] == Model.UserMessages[j].ADVERT_ID && (msglist[1, x] == Model.UserMessages[j].MSG_TO && msglist[2, x] == Model.UserMessages[j].MSG_FROM) || (msglist[1, x] == Model.UserMessages[j].MSG_FROM && msglist[2, x] == Model.UserMessages[j].MSG_TO))
            {
                save = false;
            }
        }
        if (save == true)
        {
            msglist[0, j] = Model.UserMessages[j].ADVERT_ID;
            msglist[1, j] = Model.UserMessages[j].MSG_TO;
            msglist[2, j] = Model.UserMessages[j].MSG_FROM;
            msglist[3, j] = Model.UserMessages[j].ID;
        }

    }


    string ConversationWith = "";
    //string ConversationAdvertTitle = "";
    string ShortMsg = "";
    string Msg= "";

<table>


    @for (int i = 0; i < msglist.GetLength(1); i++)
    {
        if(msglist[0,i]>0)
        {
        <tr>
            <td>
                ID: @msglist[0, i];
            </td>
            <td>
                @{
                    var User1 = Model.Users.Where(x => x.USER_ID == msglist[1, i]).Select(x => x.USER_ID).SingleOrDefault();
                    var User2 = Model.Users.Where(x => x.USER_ID == msglist[2, i]).Select(x => x.USER_ID).SingleOrDefault();
                    if (User1 == Convert.ToInt32(Session["ID"]))
                    {
                        ConversationWith = Model.Users.Where(x => x.USER_ID == msglist[2, i]).Select(x => x.FNAME).SingleOrDefault();
                    }
                    else
                    {
                        ConversationWith = Model.Users.Where(x => x.USER_ID == msglist[1, i]).Select(x => x.FNAME).SingleOrDefault();
                    }
                }
                Konwersacja z: @ConversationWith
            </td>
            <td>
                @{
                    Msg = Model.UserMessages.Where(x => x.ID == msglist[3, i]).Select(x => x.TEXT).SingleOrDefault();
                    if (Model.UserMessages.Where(x => x.ID == msglist[3, i]).Select(x => x.IS_READ).SingleOrDefault() == false)
                    {
                        if (Model.UserMessages.Where(x => x.ID == msglist[3, i]).Select(x => x.MSG_TO).SingleOrDefault() == Convert.ToInt32(Session["ID"]))
                        {
                            <span> Nieodczytana: </span>@Msg
                        }
                        else
                        {
                            @Msg
                        }
                    }
                }
            </td>
            <td>
            </td>
            <td>

                <a href="@Url.Action("Conversation", "User", new {AdvertId = msglist[0, i], UserA = msglist[1, i], UserB = msglist[2, i]})">Odpowiedz</a>

            </td>

        </tr>
        }
    }


</table>
}
