@model MajsterFinale.Models.USERS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel</title>
</head>
<body>
 
    <div name="Ustawienia"></div>
    <div name="Moje ogloszenia"></div>
    <div name="Wiadomosci"></div>

</body>
</html>
